   /* Custom CSS for responsiveness */
   @media (max-width: 768px) {
    /* Adjust the navigation bar for smaller screens */
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

    /* Adjust table styles for smaller screens */
    .table td, .table th {
        font-size: 14px;
        padding: 0.5rem;
    }
}
/* Customize colors and typography */
body {
font-family: Arial, sans-serif;
background-color: #f7f7f7;
}

.navbar {
background-color: #007bff;
}

.navbar-brand {
color: #fff;
font-weight: bold;
}

.nav-link {
color: #007bff !important;
}

/* Add transitions and hover effects */
.nav-link:hover {
background-color: #0056b3 !important;
color: #fff !important;
transition: background-color 0.3s, color 0.3s;
}

.card {
border: 1px solid #ddd;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s;
}

.card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Customize buttons */
.btn-primary {
background-color: #007bff;
border-color: #007bff;
}

.btn-primary:hover {
background-color: #0056b3;
border-color: #0056b3;
}

/* Add custom footer styles */
.footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px 0;
position: absolute;
bottom: 0;
width: 100%;
}
